body{
background:#f0f3f8;
text-align:center;
font-family:Arial;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 0 10px #ccc;
}

.oval{
width:220px;
height:280px;
border:3px dashed #2b7cff;
border-radius:50%;
margin:20px auto;
}

#msg{
margin-top:10px;
font-weight:bold;
}

button{
background:#2b7cff;
color:white;
padding:12px;
width:100%;
border:none;
border-radius:8px;
margin-top:10px;
}

video{
width:1px;
height:1px;
opacity:0;
}

canvas{
display:none;
}